    {% extends 'base.html' %}
		{% load static %}
    {% block css %}
    <link href="../statics/css/dash_board.css" rel="stylesheet" />    
    {% endblock %}
    {% block content %}
    <div id="content" class="content">
      <!-- begin page-header -->
      <h1 class="page-header">Titan Console</h1>
      <!-- end page-header -->
      <!-- begin row -->
      <div class="row">


        <!-- begin col-12 -->
        <div class="col-lg-12">
          <!-- begin panel -->
          <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
              <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div>
              <h4 class="panel-title">Console...</h4>
            </div>
            <div class="panel-body">
                <div id="log">
                    <div class="alert alert-secondary">
                        Welcome, please type command
                    </div>
                </div>
                <div>
                    <textarea class="form-control" rows="3" id="command"></textarea>
                    <button type="submit" id="send-command" class="btn btn-sm btn-primary m-r-5">Submit</button>
                </div>
            </div>
            <div class="hljs-wrapper">
            </div>
          </div>
          <!-- end panel -->
        </div>
        <!-- end col-12 -->

      </div>
      <!-- end row -->
    </div>
    {% endblock content %}


{% block js %}
    <script>
    $("#send-command").click(function () {
        $.ajax({
            url: "{% url 'console_send_command' %}",
            type: 'POST',
            data: {
                "command": $("#command").val(),
            },
            dataType: 'json',
            success: function(data){
                if (data.status == "OK") {
                    $("#log").append("<div class=\"alert alert-secondary\">" + data.message + "</div>")
                }else{
                    $("#log").append("<div class=\"alert alert-danger\">" + data.message + "</div>")
                }
            },
            error: function(){
                alert('ajax error');
            }
        })
    })
    $(function() {
        var availableCommands = [
"EOF",
"_evo_test_methods",
"_exp_instrument_trim_all",
"_generate_manual",
"_gui_container_list_instrument",
"_gui_container_list_population",
"_gui_container_list_sequence",
"_gui_mp_status",
"_gui_show_available_signals",
"_gui_show_best_fitness_per_gen",
"_gui_show_coverage",
"_gui_show_error_sequence",
"_gui_show_list_of_trades",
"_gui_show_population_status",
"_gui_show_possible_space",
"_gui_show_sequence",
"_gui_show_signal_details",
"_gui_show_strategy_report",
"_gui_show_useless_param",
"_save_default_signal_def",
"_test_pli_gen_test_signals",
"_test_pli_load_results",
"_test_pli_load_test_signals",
"_test_pli_read_test_code_result",
"_test_pli_run_titan_simulation",
"_test_pli_save_results",
"_test_pli_save_test_signals",
"_test_pli_setup",
"_test_pli_write_test_code",
"add_resolution",
"auto_full_flow",
"auto_run_simulation_and_write_back",
"auto_select_and_evolution",
"cg_config",
"cg_write",
"clear_sequence",
"container_list_instrument",
"container_list_population",
"container_list_sequence",
"container_load_sequence",
"container_save_sequence",
"create_instrument",
"create_population",
"echo",
"evo_copy_selection_sql",
"evo_crossover",
"evo_evolution",
"evo_mutation",
"evo_parent_select",
"evo_random",
"evo_show_methods",
"exec",
"execm",
"exit",
"export_instrument",
"generate_bar_data_list",
"get_current_population",
"get_sequence_by_key",
"get_top_sequences",
"help",
"list_config",
"load_sequence",
"migrate_from_population",
"modify_population",
"mp_add_sim_process",
"mp_assign_affinity",
"mp_assign_priority",
"mp_gen_random_seeds",
"mp_kill",
"mp_pause",
"mp_reset_flag",
"mp_resume",
"mp_set_debug_level",
"mp_set_new_sequence_buffer_size",
"mp_start",
"mp_status",
"mp_stop",
"parse_sequence",
"prepare_strategy_report",
"rebuild_population",
"reload_config",
"rename_sequence",
"reset_simulation",
"run_simulation",
"save_sequence",
"set",
"set_current_population",
"set_debug_level",
"show_available_signals",
"show_best_fitness_per_gen",
"show_coverage",
"show_error_sequence",
"show_list_of_trades",
"show_population_status",
"show_possible_space",
"show_sequence",
"show_signal_details",
"show_strategy_report",
"show_useless_param",
"source",
"step_simulation",
"update_instrument",
"util_signal_def_group_ctrl",
"var",
"write_back",
        ];
    $( "#command" ).autocomplete({
      source: availableCommands
    });
  });
    </script>
{% endblock %}