    {% extends 'base.html' %}
		{% load static %}
    {% block css %}
        <link href="{% static "css/simulation_result.css" %}" rel="stylesheet" />
    {% endblock %}
    {% block content %}
    <div id="content" class="content">
      <!-- begin page-header -->
      <h1 class="page-header">Edit simulation settings<small></small></h1>
      <!-- end page-header -->
      <!-- begin row -->
      <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
          <!-- begin panel -->
          <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
              <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div>
              <h4 class="panel-title">_</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <!-- begin col-4 -->
                <div class="col-lg-4">
                  <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        Settings
                      </h4>
                    </div>
                    <table class="table table-striped">
                      <thead>
                        <th>File name</th>
                      </thead>
                      <tbody>
                      {% for file in files %}
                        <tr onclick="get_simulation_settings('{{ file }}');">
                          <td>{{ file }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-8 -->
                <div class="col-lg-8">
                  <!-- begin panel -->
                  <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading">
                      <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                      </div>
                      <h4 class="panel-title">Settings: <span id="setting_name"></span></h4>
                    </div>
                    <div class="panel-body">
                      <i id="simulation_result_spin" class="fas fa-sync fa-spin fa-7x"></i>
                      <p class="form-group">
                        <form id="simulation_settings">
                          <label>setting name</label>
                          <input type="text" class="form-control" id="file_name" name="file_name"/>
                          <label>slippage: Cost = slippage($)*2</label>
                          <input type="text" class="form-control" id="slippage" name="slippage"/>
                          <label>entry_commision: Cost = entry_commision*entry*bigpointvalue</label>
                          <input type="text" class="form-control" id="entry_commision" name="entry_commision"/>
                          <label>exit_commision: Cost = exit_commision*exit*bigpointvalue</label>
                          <input type="text" class="form-control" id="exit_commision" name="exit_commision" />
                          <label>trading_fee: Cost = trading_fee($)*2</label>
                          <input type="text" class="form-control" id="trading_fee" name="trading_fee"/>
                          <label>swap_long: Cost = swap_long($)*days if position > 0</label>
                          <input type="text" class="form-control" id="swap_long" name="swap_long"/>
                          <label>swap_short: Cost = swap_short($)*days if position < 0</label>
                          <input type="text" class="form-control" id="swap_short" name="swap_short"/>
                          <label>max_hold: Maximum holds when trading. Default is 1.</label>
                          <input type="text" class="form-control" id="max_hold" name="max_hold"/>
                          <label>max_bar_in_use: Maximum bar in use for simulation.</label>
                          <label>  Simulation will fail if signal uses more bars than this setting.</label>
                          <label>  Increasing this value will consume more memory in simulation.</label>
                          <input type="text" class="form-control" id="max_bar_in_use" name="max_bar_in_use"/>
                          <label>fitness: Fitness expression, must return a value.</label>
                          <label>  You can reference the documentation "report and macro reference".</label>
                          <input type="text" class="form-control" id="fitness" name="fitness"/>
                          <label>bad: Bad condition, must return True or False</label>
                          <label>  You can reference the documentation "report and macro reference".</label>
                          <input type="text" class="form-control" id="bad" name="bad"/>
                          {% csrf_token %}
                          <p><button  onclick="save_simulation_settings()" id="save_settings_btn"  class="btn btn-sm btn-primary">Save</button></p>
                        </form>
                      </p>
                    </div>
                  </div>
                  <!-- end panel -->
                </div>
                <!-- end col-8 -->
              </div>
              <!-- end row -->
            </div>
            <!-- end panel -->
          </div>
          <!-- end panel -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    {% endblock content %}


{% block js %}
    <script>
        let get_simulation_settings_api = "{% url 'get_simulation_settings' %}"
        let save_simulation_settings_api = "{% url 'save_simulation_settings' %}"
    </script>
	<script src="{% static 'assets/plugins/flot/jquery.flot.min.js' %} "></script>
  <script src="{% static 'js/manage_settings.js' %}"></script>
  <script>
    $(document).ready(function() {
			Dashboard.init();
    });
  </script>
{% endblock %}
