    {% extends 'base.html' %}
    {% block css %}
    <link href="../statics/css/dash_board.css" rel="stylesheet" />    
    {% endblock %}
    {% block content %}
    <div id="content" class="content">
      <!-- begin page-header -->
      <h1 class="page-header">Page Header <small>header small text goes here...</small></h1>
      <!-- end page-header -->
      <!-- begin row -->
      <div class="row">


        <!-- begin col-12 -->
        <div class="col-lg-12">
          <!-- begin panel -->
          <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
              <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div>
              <h4 class="panel-title">XAU_2010-2017</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Population</th>
                    <th># simulations</th>
                    <th>Bad</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for population in populations %}
                  <tr>
                    <td>{{population}}</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>Stop</td>
                    <td>
                      <i class="fas fa-play fa-2x" onclick="start_sim('{{ population }}')"></i>
                      <i class="fas fa-pause fa-2x"></i>
                      <i class="fas fa-stop fa-2x"></i>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="hljs-wrapper">
            </div>
          </div>
          <!-- end panel -->
        </div>
        <!-- end col-12 -->

      </div>
      <!-- end row -->
    </div>
    {% endblock content %}



{% block js %}
    <script>
        function start_sim(population) {
            command_list = [
                "set_current_population " + population,
                "mp_start",
            ]
            send_command(command_list)
        }

        function send_command(command_list){
            command = command_list.shift()
            if (command == undefined) {
                return
            }else{
                console.log(command)
                $.ajax({
                    url: "{% url 'console_send_command' %}",
                    type: 'POST',
                    data: {
                        "command": command,
                    },
                    dataType: 'json',
                    success: function(data){
                        console.log(command + "...success")
                        send_command(command_list)
                    },
                    error: function(){
                        alert('ajax error');
                    }
                })
             }
        }
    </script>
{% endblock %}