    {% extends 'base.html' %}
    {% load static %}

    {% block css %}
      <link href="{% static 'assets/plugins/jquery-smart-wizard/src/css/smart_wizard.css' %}" rel="stylesheet" />
    {% endblock %}
    {% block content %}
    <div id="content" class="content">


			<!-- begin page-header -->
			<h1 class="page-header">Create new project <small>please fill up the basic settings and upload the price data</small></h1>
			<!-- end page-header -->
			<!-- begin wizard-form -->
			<form action="/" method="POST" class="form-control-with-bg">
				<!-- begin wizard -->
				<div id="wizard">
					<!-- begin wizard-step -->
					<ul>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-1">
								<span class="number">1</span>
								<span class="info text-ellipsis">
									Set Instrument
									<small class="text-ellipsis">Set history price data</small>
								</span>
							</a>
						</li>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-2">
								<span class="number">2</span> 
								<span class="info text-ellipsis">
									Create Population
									<small class="text-ellipsis">Time range, instrument, settings</small>
								</span>
							</a>
						</li>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-3">
								<span class="number">3</span>
								<span class="info text-ellipsis">
									Set Resulation
									<small class="text-ellipsis">Set the desired time resulation</small>
								</span>
							</a>
						</li>
						<li class="col-md-3 col-sm-4 col-6">
							<a href="#step-4">
								<span class="number">4</span> 
								<span class="info text-ellipsis">
									Completed
									<small class="text-ellipsis">Read to go!</small>
								</span>
							</a>
						</li>
					</ul>
					<!-- end wizard-step -->
					<!-- begin wizard-content -->
					<div>
						<!-- begin step-1 -->
						<div id="step-1">
							<!-- begin fieldset -->
							<fieldset>
								<!-- begin row -->
								<div class="row">
									<!-- begin col-8 -->
									<div class="col-md-8 offset-md-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Select a instrument</legend>
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Instruments</label>
											<div class="col-md-6">
												<select class="form-control" id="instrument">
													<option></option>
                                                   {% for instrument in instruments %}
                                                       <option>{{ instrument.name }}</option>
                                                   {% endfor %}
												</select>
											</div>
										</div>
                                        <div style="display:none;">
										<!-- end form-group row -->
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Or upload a new instrument</legend>
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">History data</label>
											<div class="col-md-6">
												<input type="file" name="firstname" placeholder="" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Name</label>
											<div class="col-md-6">
												<input type="text" name="firstname" placeholder="" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Min moving point</label>
											<div class="col-md-6">
												<input type="text" name="firstname" placeholder="1" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Price scale</label>
											<div class="col-md-6">
												<input type="text" name="lastname" placeholder="0.01" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Big point value</label>
											<div class="col-md-6">
												<input type="text" name="ic" placeholder="12" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Instrument resoluation</label>
											<div class="col-md-6">
                                            <select class="form-control" name="year">
                                              <option>Min</option>
                                              <option>Day</option>
                                            </select>
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Date format</label>
											<div class="col-md-6">
                                            <select class="form-control" name="year">
                                              <option value="big">%Y/%m/%d</option>
                                              <option value="little">%d/%m/%Y</option>
                                              <option value="middle">%m/%d/%Y</option>
                                            </select>
											</div>
										</div>
										<!-- end form-group row -->
                                        </div><!-- end of display none -->
									</div>
									<!-- end col-8 -->
								</div>
								<!-- end row -->
							</fieldset>
							<!-- end fieldset -->
						</div>
						<!-- end step-1 -->
						<!-- begin step-2 -->
						<div id="step-2">
							<!-- begin fieldset -->
							<fieldset>
								<!-- begin row -->
								<div class="row">
									<!-- begin col-8 -->
									<div class="col-md-8 offset-md-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Define the population </legend>
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Population Name</label>
											<div class="col-md-6">
												<input type="text" id="population-name" placeholder="XAU_10_17" class="form-control" />
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Date of Start</label>
											<div class="col-md-6">
												<div class="row row-space-6">
													<div class="col-4">
														<select class="form-control" id="start-year">
															<option>-- Year --</option>
                                                            {% for year in years %}
                                                                <option>{{ year }}</option>
                                                            {% endfor %}
														</select>
													</div>
													<div class="col-4">
														<select class="form-control" id="start-month">
															<option>-- Month --</option>
                                                            {% for month in months %}
                                                                <option>{{ month }}</option>
                                                            {% endfor %}
														</select>
													</div>
													<div class="col-4">
														<select class="form-control" id="start-day">
															<option>-- Day --</option>
                                                            {% for day in days %}
                                                                <option>{{ day }}</option>
                                                            {% endfor %}
														</select>
													</div>
												</div>
											</div>
										</div>
										<!-- end form-group row -->
                                        <!-- begin form-group row -->
                                        <div class="form-group row m-b-10">
                                            <label class="col-md-3 text-md-right col-form-label">Date of End</label>
                                            <div class="col-md-6">
                                                <div class="row row-space-6">
                                                    <div class="col-4">
                                                        <select class="form-control" id="end-year">
                                                            <option>-- Year --</option>
                                                            {% for year in years %}
                                                                <option>{{ year }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-4">
                                                        <select class="form-control" id="end-month">
                                                            <option>-- Month --</option>
                                                            {% for month in months %}
                                                                <option>{{ month }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-4">
                                                        <select class="form-control" id="end-day">
                                                            <option>-- Day --</option>
                                                            {% for day in days %}
                                                                <option>{{ day }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Simulation settings</label>
											<div class="col-md-6">
                                                <select class="form-control" id="simulation-setting-file">
                                                    {% for simulation_setting_file in simulation_setting_files %}
                                                      <option>{{ simulation_setting_file.name }}</option>
                                                    {% endfor %}
                                                </select>
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">seqdef</label>
											<div class="col-md-6">
                                                <select class="form-control" id="seq-def">
                                                    {% for seq_def in seq_defs %}
                                                        <option value="{{seq_def.name}}">{{ seq_def.description }}</option>
                                                    {% endfor %}
                                                </select>
											</div>
										</div>
										<!-- end form-group row -->
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">signal_def</label>
											<div class="col-md-6">
                                                <select class="form-control" id="signal-def-file">
                                                    {% for signal_def_file in signal_def_files %}
                                                        <option>{{ signal_def_file.name }}</option>
                                                    {% endfor %}
                                                </select>
											</div>
										</div>
										<!-- end form-group row -->
									</div>
									<!-- end col-8 -->
								</div>
								<!-- end row -->
							</fieldset>
							<!-- end fieldset -->
						</div>
						<!-- end step-2 -->
						<!-- begin step-3 -->
						<div id="step-3">
							<!-- begin fieldset -->
							<fieldset>
								<!-- begin row -->
								<div class="row">
									<!-- begin col-8 -->
									<div class="col-md-8 offset-md-2">
										<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Select Time Resulation</legend>
										<!-- begin form-group row -->
										<div class="form-group row m-b-10">
											<label class="col-md-3 text-md-right col-form-label">Resolution</label>
                                            {% for resolution in resolutions %}
											<div class="checkbox checkbox-css is-valid">
												<input type="checkbox" class="resolution" id="{{ resolution.value }}" value="{{ resolution.value }}" />
												<label for="{{ resolution.value }}">{{ resolution.value }}</label>
											</div>
                                            {% endfor %}

										</div>
										<!-- end form-group row -->
									</div>
									<!-- end col-8 -->
								</div>
								<!-- end row -->
							</fieldset>
							<!-- end fieldset -->
						</div>
						<!-- end step-3 -->
						<!-- begin step-4 -->
						<div id="step-4">
							<div class="jumbotron m-b-0 text-center">
								<h2 class="text-inverse">You are ready to go</h2>
								<p class="m-b-30 f-s-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat commodo porttitor. <br />Vivamus eleifend, arcu in tincidunt semper, lorem odio molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin. </p>
								<p><a href="javascript:void();" class="btn btn-primary btn-lg" id="start">Start mining</a></p>
							</div>
						</div>
						<!-- end step-4 -->
					</div>
					<!-- end wizard-content -->
				</div>
				<!-- end wizard -->
			</form>
			<!-- end wizard-form -->
		</div>
		<!-- end #content -->
		
		<!-- begin theme-panel -->
		<div class="theme-panel theme-panel-lg">
			<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
			<div class="theme-panel-content">
				<h5 class="m-t-0">Color Theme</h5>
				<ul class="theme-list clearfix">
					<li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/default/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="../assets/css/default/theme/pink.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/default/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="../assets/css/default/theme/yellow.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="../assets/css/default/theme/lime.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="../assets/css/default/theme/green.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="../assets/css/default/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="../assets/css/default/theme/aqua.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../assets/css/default/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/default/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="../assets/css/default/theme/indigo.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="../assets/css/default/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
				</ul>
				<div class="divider"></div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Header Styling</div>
					<div class="col-md-6">
						<select name="header-styling" class="form-control form-control-sm">
							<option value="1">default</option>
							<option value="2">inverse</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Header</div>
					<div class="col-md-6">
						<select name="header-fixed" class="form-control form-control-sm">
							<option value="1">fixed</option>
							<option value="2">default</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Sidebar Styling</div>
					<div class="col-md-6">
						<select name="sidebar-styling" class="form-control form-control-sm">
							<option value="1">default</option>
							<option value="2">grid</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Sidebar</div>
					<div class="col-md-6">
						<select name="sidebar-fixed" class="form-control form-control-sm">
							<option value="1">fixed</option>
							<option value="2">default</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Sidebar Gradient</div>
					<div class="col-md-6">
						<select name="content-gradient" class="form-control form-control-sm">
							<option value="1">disabled</option>
							<option value="2">enabled</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Content Styling</div>
					<div class="col-md-6">
						<select name="content-styling" class="form-control form-control-sm">
							<option value="1">default</option>
							<option value="2">black</option>
						</select>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-md-6 control-label text-inverse f-w-600">Direction</div>
					<div class="col-md-6">
						<select name="direction" class="form-control form-control-sm">
							<option value="1">LTR</option>
							<option value="2">RTL</option>
						</select>
					</div>
				</div>
				<div class="divider"></div>
				<h5>THEME VERSION</h5>
				<div class="theme-version">
					<a href="../template_html/index_v2.html" class="active">
						<span style="background-image: url(../assets/img/theme/default.jpg);"></span>
					</a>
					<a href="../template_transparent/index_v2.html">
						<span style="background-image: url(../assets/img/theme/transparent.jpg);"></span>
					</a>
				</div>
				<div class="theme-version">
					<a href="../template_apple/index_v2.html">
						<span style="background-image: url(../assets/img/theme/apple.jpg);"></span>
					</a>
					<a href="../template_material/index_v2.html">
						<span style="background-image: url(../assets/img/theme/material.jpg);"></span>
					</a>
				</div>
				<div class="divider"></div>
				<div class="row m-t-10">
					<div class="col-md-12">
						<a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>Reset Local Storage</b></a>
					</div>
				</div>
			</div>
		</div>
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->



    </div>
    {% endblock content %}

{% block js %}
  <script src="{% static 'assets/plugins/jquery-smart-wizard/src/js/jquery.smartWizard.js' %}"></script>
  <script src="{% static 'assets/js/demo/form-wizards.demo.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			FormWizard.init();
		});

		$("#start").click(function() {
            start_year = $("#start-year option:selected").text()
            start_month = $("#start-month option:selected").text()
            start_day = $("#start-day option:selected").text()

            end_year = $("#end-year option:selected").text()
            end_month = $("#end-month option:selected").text()
            end_day = $("#end-day option:selected").text()

            resolutions = ""
            checkboxes = $("input:checked")
            for (var i = 0; i < checkboxes.length; i++) {
                resolutions += checkboxes[i].value + ","
            }

            data = {
                "instrument": $("#instrument option:selected").text(),
                "population_name": $("#population-name").val(),
                "start_year": start_year,
                "start_month": start_month,
                "start_day": start_day,
                "end_year": end_year,
                "end_month": end_month,
                "end_day": end_day,
                "simulation_setting_file": $("#simulation-setting-file option:selected").text(),
                "seq_def": $("#seq-def option:selected").val(),
                "signal_def_file": $("#signal-def-file option:selected").text(),
                "resolutions": resolutions,
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            }
            console.log(data);

            $.ajax({
                url: "{% url 'create_population_and_add_resolutions' %}",
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function(data){
                    alert(JSON.stringify(data));
                },
                error: function(){
                    alert('ajax error');
                }


            })
        })
	</script>
{% endblock %}

